    html {
        box-sizing: border-box;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    
    a {
        display: inline-block;
        text-decoration: none;
    }
    
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    a {
        color: $black;
    }
    
    .container {
        max-width: 720px;
        margin: 0 auto;
        padding: 0 10px;
    }
    
    body {
        font-family: 'Roboto';
        font-weight: 100;
        color: $black;
    }
    
    .title {
        @include f700;
        color: $black;
        font-size: 45px;
        text-align: center;
    }
    
    .container-fluid {
        max-width: 100%;
        margin: 0 auto;
    }